/*Estilos da minha pagina*/
* { /*Dimensão da pagina em geral*/
    margin: 0px;
    padding: 0px;
}
body{/*Definir a fonte para todo o corpo do site*/
    font-family: Arial, Helvetica, sans-serif;
    background-color: #94c1fc;
    background-size: 100%;
}
/**/
/*  Geral */
.text-center{/*Fazer o alinhamento do texto ao centro*/
    text-align: center;
}
.margin-top-30{/*Irá realizar um alinhamento de 30pixel*/
    margin-top: 30px;
}
/*Cabeçalho*/
.container-cabecalho{
    text-align: center;
} 
.container-cabecalho .icone{
    width: 120px;
    height: 90px;

}
/*-----------------------------------------------------------------*/
/*Navegação*/
.container-navegacao{
    padding: 10px;
    background-color: #06345d;
    text-align: right;
}
.container-navegacao a {/*Definido a cor das hiperligações*/
    font-size: 9.em;/*Tamanho elevado a 2° potencia */
    text-decoration: none;/*Atributo *NONE*, retira o handerline das letras*/
    margin: 0px 75px;/*Defini o espaçamento vertical=0 e horizontal=50*/
    padding: 5px;
    color: #eee020;/*A cor que ira apresentar*/
}
.container-navegacao a:hover{
    color: #ffffff;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 12px;
    background-color: #eee020;
}
.container-navegacao a:active{
    background-color: #94c1fc;
}
/*---------------------------------------------------------------------*/
/*Seção (Quem somos)*/
.container-quem-somos{
    background-image: url(./aviao2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: auto;
}
.container-quem-somos .servico{
    float: center;
    margin: 25px auto;
    padding: 10px;
    width: 28%;
    background-color: #94c1fc;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 13%;
    text-align: center;
}
.container-quem-somos .servico .icone{
    margin-bottom: 1px;
    width: 65px;
    height: 70px;
}
.container-quem-somos .servico-texto{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1px;
    font-size: 1.em;
}
/*--------------------------------------------------------*/
/**/
/*Nessa section sera definida o estilo inferior da pagina*/
.container-servico-contatos{
    text-align: center;
    padding: 10px;
}
.container-servico-contatos .botoes-servico-contatos{
    padding: 10px;
    text-align: center;
}
.botoes-servico-contatos a{
    display: block;
    max-width: 200px;
    text-decoration: none;
    font-size: 1em;
    color: black;
    background: #ffffff;
    padding: 10px;
    margin: 5px auto;
    border-radius: 10px;
}
.botoes-servico-contatos a:hover{
    background-color: #eee020;
    color: #94c1fc;
}
/*-------------------------------------------------------*/
/*Seção apenas para html de Serviços*/
/*Html Serviços*/
.container-servicos{
    background-image: url(./aviao.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 1.1em;
    padding: 50px;
    overflow: auto;
}
/*--------------Container Serviços-----------------------*/
/*--------------------Pagina 2---------------------------*/
.container-serv{
    font-size: 1.2em;
    padding: 60px;
    background-image: url(./aviao2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: aliceblue;
    overflow: auto;
}
.container-serv h1{
    font-size: 3em;
    margin-bottom: 20px;
}
.container-serv h2{
    font-size: 1.5em;
    padding: 20px 0;
}
.container-serv article{
    width: 40%;
    margin: auto;
    float: center;
}
.container-serv li{
    margin-bottom: 15px;
    margin-left: 25px;
    color: black;
}
/*-------------------Fim da pagina 2---------------------*/
/*-------------------------------------------------------*/
/*------------------Pagina de Contatos-------------------*/
.container-contatos{
    background-image: url(./aviao2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 12%;
}
.container-contatos h1{
    font-size: 3em;
    color: white;
    margin-bottom: 22px;
}
.container-contatos h3{
    font-size: 2em;
    font-weight: 100;
    width: 40%;
    margin: auto;
    margin-bottom: 20px;
    border: 1.5px solid #105088;
    border-radius: 10px;
    padding: 8px;
    background-color: #105088;
    color: white;
}
.container-contatos .contatos{
    display: block;
    font-size: 1em;
    font-weight: 100;
    text-decoration: none;
    /*Espaçamento de fundo*/
    margin-top: 10px;
    margin: auto;
    margin-bottom: 20px;
    margin: 2px solid #105088;
    padding: 8px;
    width: 25%;
    border-radius: 10px;
    /*Cores de fundo*/
    background-color: #105088;
    color: white;
}
.container-contatos small{
    margin: auto;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 8px;
    width: 40%;
    color: #105088;
    background-color: #ffffff;

}
/*-------------------------------------------------------*/
/*Footer (Rodapé)*/
footer{
    text-align: center;
    padding: 10px;
    color: white;
}